<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
</head>

<body>
  <h2>This is the default page of the RailsBlog application</h2>
  <br/>
  <p>It will eventually become a documentation page, with some examples on how to use the RailsBlog API.</p>
</body>
</html>
